@import "config";

@media screen and (max-width: 1000px) {
  #services {
    .services-inner {
      .services-columns {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  #about {
    .about-inner {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 1rem;
    }
  }

  #pricing {
    .pricing-inner {
      .pricing-columns {
        justify-content: center;

        .pricing-box {
          flex: 0 0 47%;
        }
      }
    }
  }

  #support {
    .support-inner {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 1rem;

      .support-heading {
        width: 100%;
      }
    }
  }

  #review {
    .review-inner {
      .review-columns {
        justify-content: center;

        .review-box {
          flex: 0 0 47%;
        }
      }
    }
  }
}

@media screen and (max-height: 746px) {
  header {
    height: auto;

    .header-inner {
      .header-intro {
        padding: 3rem 0 12rem 0;
      }
    }
  }
}

@media screen and (max-width: 935px) {
  header {
    nav {
      .nav-inner {
        .nav-links {
          li {
            .nav-button {
              display: none;
            }
          }
        }
      }
    }

    .header-inner {
      .header-intro {
        width: 80%;
      }
    }
  }

  #domain {
    .domain-inner {
      .domain-search {
        width: 75%;
      }
    }
  }

  #about {
    .about-inner {
      grid-template-columns: 1fr;
      grid-template-areas:
        "about-subheading"
        "about-heading"
        "about-image"
        "about-lead"
        "about-button";
      text-align: center;

      .about-button {
        margin: auto;
      }
    }
  }

  #support {
    .support-inner {
      grid-template-columns: 1fr;
      grid-template-areas:
        "support-subheading"
        "support-heading"
        "support-image"
        "support-lead"
        "support-button";
      text-align: center;

      .support-heading {
        width: 100%;
      }

      .support-button {
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 368px) and (max-height: 962px) {
  header {
    height: auto;
    .header-inner {
      .header-intro {
        padding: 3rem 0 12rem 0;
      }
    }
  }
}

@media screen and (max-width: 686px) and (max-height: 862px) {
  header {
    height: auto;

    .header-inner {
      .header-intro {
        padding: 3rem 0 12rem 0;
      }
    }
  }
}

@media screen and (max-width: 776px) {
  footer {
    .footer-inner {
      .footer-top {
        .footer-box {
          flex: 0 0 32%;
        }
      }
    }
  }
}

@media screen and (max-width: 686px) {
  %heading,
  %lead {
    text-align: center;
  }

  header {
    nav {
      .nav {
        &-overlay {
          display: block;
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          background: $white;
          visibility: hidden;
          transition: all 0.5s ease;
          z-index: 500;

          &-close {
            position: fixed;
            top: 1.5rem;
            right: 1.5rem;
            color: $black;
            font-size: 3rem;
          }

          &-links {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
              font-size: 1.5rem;
              color: $black;
              padding: 1rem 0;

              a {
                color: inherit;
              }
            }
          }

          &.open {
            opacity: 1;
            visibility: visible;
          }
        }

        &-inner {
          .nav {
            &-links {
              display: none;
            }

            &-hamburger {
              display: block;
              color: $white;
              font-size: 2.5rem;
            }
          }
        }
      }
    }

    .header-inner {
      .header-intro {
        text-align: center;
        width: 100%;

        &-buttons {
          justify-content: center;
        }
      }
    }
  }

  #domain {
    .domain-inner {
      text-align: center;

      .domain-lead {
        padding: 1rem 0;
      }

      .domain-search {
        width: 100%;
      }
    }
  }

  #pricing {
    .pricing-inner {
      .pricing-columns {
        .pricing-box {
          flex: 0 0 100%;

          .plan-details-lead {
            text-align: left;
          }

          &:nth-child(2) {
            .plan-details-lead {
              text-align: left;
            }
          }
        }
      }
    }
  }

  #review {
    .review-inner {
      .review-columns {
        .review-box {
          flex: 0 0 100%;

          .review-text {
            text-align: left;
          }
        }
      }
    }
  }

  #get-started {
    .get-started-inner {
      .get-started {
        &-lead {
          padding: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 568px) {
  #services {
    .services-inner {
      .services-columns {
        grid-template-columns: 1fr;
      }
    }
  }

  #contact {
    .contact-inner {
      .contact-form {
        grid-template-areas:
          "contact-name"
          "contact-email"
          "contact-message "
          "contact-button";

        .contact-button {
          margin: auto;
        }
      }
    }
  }

  footer {
    .footer-inner {
      .footer-top {
        text-align: center;
        .footer-box {
          flex: 0 0 100%;
        }
      }
    }
  }
}
